COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXX
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=development-secret
AWS_REGION=us-east-1
DYNAMODB_TABLE=apresai-podcasts-prod
GATEWAY_URL=https://i656dtw3u7brkptuw2uejmzy6i0dtmii.lambda-url.us-east-1.on.aws
